 body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0 0;
    padding: 0 0;
  }
  header{
    background-image: url(background.webp);
    color: white;
    padding: 70px 0px;
    background-size: cover;
    background-position:center;
  }
  
  h1,p {
    text-align:center;
  }
  .check{
    padding-left: 300px;
  }
  .info{
    display: flex;
    justify-content: center; 
    padding: 50px 0;
  }
  .data {
    padding: 20px 100px;
    max-width: 600px;
    background-color: rgb(19, 3, 82);
    border-radius: 8px;
    color: white;
  }
  .width{
    width: 250px;
    border-radius: 5px;
    height: 25px;
  }
  .radio{
    padding: 20px;
  }
  #action-button {
    width: 25%;
    margin: 10px 230px;
    padding: 10px 20px;
    background-color: rgb(45, 4, 93);
    color: white;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
    transition:background-color 0.4s;
  }
  
  #action-button:hover {
    background-color: rgb(141, 3, 186);
  }
  #message {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: 5px solid #31034a;
    display:none;
  }
  footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px 0;
}
  